<template name="main">
    <div class="blockBackground">
    </div>
    <div class="block" style="background: #fff">
    </div>
    <div class="block">
        <h1>Qu'est-ce que le projet FreeRun?</h1>
        <div class="block__content">
            <img src="/picture/runner-icone.png" />
            Le projet FreeRun est un jeu imaginé par l'équipe TRX. Le jeu est, comme son nom l'indique, basé sur le freerun. En effet, le joueur incarnera un free runner. L'histoire du jeu est donc basé sur la course. Le free runner se fait kidnapper et se retrouve dans une ancienne ville. Son but est simple, il veut s'échapper et pour ça il doit traverser toute la ville pour rejoindre son équipe et pouvoir s'échapper de cette ville.
            <br/>Le jeu sera en 3D, car nous voulons que le joueur puisse déplacer le personnage où il veut dans un décor moins restreint qui semble plus réel. De plus, nous avons opté pour un genre de jeu à la troisième personne, car le champ de vision du joueur aurait été trop réduit. Un jeu à la troisième personne permet une visualisation intégrale du personnage.

        </div>
    </div>
</template>
