.block {
    width: auto;
    padding: 15px 10%;
}

.blockWhite {
    width: auto;
    padding: 15px 10%;
    background: #fff;
}

.blockGrey {
    width: auto;
    padding: 15px 10%;
    color: #fff;
    background: #95a5a6;
    h1 {
        color: #fff;
    }
}

.blockBlue {
    width: auto;
    padding: 15px 10%;
    color: #fff;
    background: #2980b9;
    h1 {
        color: #fff;
    }
}

.blockBackground {
    width: auto;
    height: 400px;
    padding: 15px 10%;
    color: #fff;
    background: url(/picture/bg-intro.jpg) no-repeat center center;
    background-size: cover;
}
