<template name="main">
    <div class="block">
        <h1>Qu'est-ce que le projet FreeRun?</h1>
        <br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar ex tellus, placerat faucibus ipsum dictum sed. Integer pharetra odio ac cursus faucibus. Quisque nec ornare odio, a vehicula ante. Nulla ut mi finibus, molestie quam ut, eleifend felis. Cras iaculis nisi ac metus blandit, et pulvinar elit placerat. Vestibulum dictum mi in dui viverra suscipit. Etiam imperdiet purus a velit vehicula, id tempor leo convallis. Mauris auctor porta porttitor. Etiam egestas, risus at ullamcorper volutpat, ex dui sodales urna, non pretium quam ipsum ac nulla. Nam quis molestie dui, vitae sollicitudin risus. Quisque convallis tellus sed mattis feugiat. In rutrum semper augue quis euismod. Maecenas feugiat nisi quis dui iaculis, eu venenatis lacus finibus. In auctor massa eu sapien posuere vestibulum.
    </div>
    <div class="blockWhite">
        <h1>Nouveautés</h1>
        <br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar ex tellus, placerat faucibus ipsum dictum sed. Integer pharetra odio ac cursus faucibus. Quisque nec ornare odio, a vehicula ante. Nulla ut mi finibus, molestie quam ut, eleifend felis. Cras iaculis nisi ac metus blandit, et pulvinar elit placerat. Vestibulum dictum mi in dui viverra suscipit. Etiam imperdiet purus a velit vehicula, id tempor leo convallis. Mauris auctor porta porttitor. Etiam egestas, risus at ullamcorper volutpat, ex dui sodales urna, non pretium quam ipsum ac nulla. Nam quis molestie dui, vitae sollicitudin risus. Quisque convallis tellus sed mattis feugiat. In rutrum semper augue quis euismod. Maecenas feugiat nisi quis dui iaculis, eu venenatis lacus finibus. In auctor massa eu sapien posuere vestibulum.
    </div>
    <div class="block">
        <h1>Nous rejoindre</h1>
        <br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar ex tellus, placerat faucibus ipsum dictum sed. Integer pharetra odio ac cursus faucibus. Quisque nec ornare odio, a vehicula ante. Nulla ut mi finibus, molestie quam ut, eleifend felis. Cras iaculis nisi ac metus blandit, et pulvinar elit placerat. Vestibulum dictum mi in dui viverra suscipit. Etiam imperdiet purus a velit vehicula, id tempor leo convallis. Mauris auctor porta porttitor. Etiam egestas, risus at ullamcorper volutpat, ex dui sodales urna, non pretium quam ipsum ac nulla. Nam quis molestie dui, vitae sollicitudin risus. Quisque convallis tellus sed mattis feugiat. In rutrum semper augue quis euismod. Maecenas feugiat nisi quis dui iaculis, eu venenatis lacus finibus. In auctor massa eu sapien posuere vestibulum.
    </div>
</template>
