<template name="contact">
    <section class="contact">
        <form class="contact--form">
            <h1>Contact</h1><br/>
            <input type="text" name="nom" id="nom" placeholder="Nom" required/> <br/>
            <input type="email" name="email" id="email" placeholder="Mail" required/> <br/>
            <textarea name="msg" id="msg" placeholder="Message" required></textarea><br/>
            <input type="submit" name="envoyer" value="Envoyer"/>
        </form>
    </section>
</template>
