<template name="contact">
    <section class="contact">
        <form class="contact--form">
            <h1>Contact</h1><br/>
            <input type="text" name="nom" id="nom" placeholder="Nom"/> <br/>
            <input type="text" name="mail" id="mail" placeholder="Mail"/> <br/>
            <input type="text" name="objet" id="objet" placeholder="Objet"/> <br/>
            <textarea name="msg" id="msg" placeholder="Message"></textarea><br/>
            <input type="submit" name="envoyer" value="Envoyer"/>
        </form>
    </section>
</template>
