<template name="topbar">
    <section class="topbar">
        <div class="topbar__logo">
            .
        </div>
        <div class="topbar__nav">
            <a href="/">
                <div class="topbar__nav--item">
                    Accueil
                </div>
            </a>
            <a href="#download">
                <div class="topbar__nav--item">
                    Télécharger
                </div>
            </a>
            <a href="#about">
                <div class="topbar__nav--item">
                    À propos
                </div>
            </a>
            <a href="/contact">
                <div class="topbar__nav--item">
                    Contact
                </div>
            </a>
        </div>
    </section>
</template>
