<template name="footer">
    <section class="footer">
        <div class="footer__content">
            <div class="footer__content--item">
                <h1>Projet: FreeRun</h1><br/>
                Le jeu est basé sur le freerun. En effet, le personnage principal est un free runner qui se fait kidnapper et se retrouve dans une ancienne ville. Son but est simple, il veut s'échapper et pour ça il doit traverser toute la ville pour rejoindre son équipe et pouvoir s'échapper de cette ville.
            </div>
            <div class="footer__item" style="margin-left: 30px;">
                Test
            </div>
        </div>
        <div class="footer--copy">&copy; TRX. Tous droits réservés.</div>
    </section>
</template>
